.create-recipe input[type="text"] {
  height: 40px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #bbb;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 300px;
  display: block;
}

.create-recipe {
  background-color: #eeeeee;
  width: 600px;
  border-radius: 10px;
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create-recipe label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.create-recipe button {
  border-radius: 20px;
  border: 1px solid #222831;
  background-color: #222831;
  color: #ffffff;
  padding: 8px 2rem;
  margin-top: 1rem;
  width: calc(100px + 2rem);
  cursor: pointer;
  margin-bottom: 1rem;
}

.create-recipe button:hover {
  background-color: #393e46;
  border: 1px solid #393e46;
}

.remove {
  margin-left: 2rem;
}

@media (max-width: 700px) {
  .create-recipe {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .create-recipe {
    width: 450px;
  }
}

@media (max-width: 550px) {
  .create-recipe {
    width: 450px;
  }

  .create-recipe button {
    padding: 7px 1rem;

    font-size: 0.9rem;
  }

  .create-recipe input[type="text"] {
    width: 250px;
  }

  .create-recipe label {
    font-size: 0.9rem;
  }

  .remove {
    margin-left: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .create-recipe {
    width: 400px;
  }

  .create-recipe button {
    padding: 7px 1rem;

    font-size: 0.8rem;
  }

  .create-recipe input[type="text"] {
    width: 250px;
  }

  .create-recipe label {
    font-size: 0.9rem;
  }

  .remove {
    margin-left: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .create-recipe {
    width: 350px;
  }

  h1 {
    font-size: 1.2rem;
  }
}
