/* Styles for larger screens */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #222831;
}

.navigation h1 {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #ffd1d1;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

a:hover {
  color: #393e46;
}

.auth {
  background-color: #00adb5;
  border-radius: 20px;
  border: 2px solid #00adb5;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login {
  border-radius: 20px;
  border: 2px solid #00adb5;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 2rem;
}

.login:hover {
  background-color: #00adb5;
  color: #393e46;
}

.auth:hover {
  border: 2px solid #00adb5;
  background: none;
  color: #393e46;
}

.icon {
  display: none;
}

.navigation .hide_logo {
  display: none;
}

@media (max-width: 850px) {
  .hide {
    display: none;
  }

  .icon {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: #00adb5;
  }
}

@media (max-width: 650px) {
  .navigation .logo {
    display: none;
  }

  .navigation .hide_logo {
    display: block;
  }
}

@media (max-width: 530px) {
  .navigation .hide_logo {
    display: none;
  }
}

@media (max-width: 400px) {
  .navigation .auth {
    display: none;
  }
}
